import com.ganguomob.dev.base.constant.EnumCode;
import lombok.AllArgsConstructor;
import lombok.Getter;

@AllArgsConstructor
@Getter
public enum ${className} implements EnumCode {

#foreach($item in $items)
    /** ${item.comment} */
    ${item.name}(${item.code}),

#end
    ;
    private final int code;
}
