import java.util.List;
import java.util.Optional;

import ${packageName}.jooq.tables.pojos.${pojoCls};
import ${packageName}.jooq.tables.records.${recordCls};

public interface I${Name}Repository {

    Optional<${pojoCls}> findById(Long id);

    List<${pojoCls}> findAll();

    ${pojoCls} insert(${pojoCls} ${pojoName});

    int updateById(Long id, ${recordCls} ${pojoName});

    int deleteById(Long id);

    boolean existsById(Long id);
}
