import java.util.List;
import java.util.Optional;

import ${packageName}.jooq.tables.pojos.${pojoCls};
import ${packageName}.jooq.tables.records.${recordCls};

public interface I${Name}Repository {

    ${pojoCls} insert(${pojoCls} ${pojoName});

    int updateById(Long id, ${recordCls} ${pojoName});

    int deleteByIds(List<Long> ids);

    Optional<${pojoCls}> findById(Long id);

    List<${pojoCls}> listAll();

    boolean existsById(Long id);
}
