import javax.validation.ConstraintValidator;
import javax.validation.ConstraintValidatorContext;

public class ${Name}ValidatorImpl implements ConstraintValidator<${Name}, String> {

    @Override
    public void initialize(${Name} constraintAnnotation) {
    }

    /**
     * 校验
     */
    @Override
    public boolean isValid(String value, ConstraintValidatorContext context) {
        return false;
    }
}
