import javax.validation.ConstraintValidator;
import javax.validation.ConstraintValidatorContext;
#if(${importType} != "")

import ${importType};
#end

public class ${Name}ValidatorImpl implements ConstraintValidator<${Name}, ${type}> {

    @Override
    public void initialize(${Name} constraintAnnotation) {
    }

    /**
     * 校验
     */
    @Override
    public boolean isValid(${type} value, ConstraintValidatorContext context) {
        return false;
    }
}
